<h1>Registro</h1>

<form action="/registro" method="POST">

    <label for="usernameInput">Nombre de usuario</label>
    <input type="text" id="usernameInput" name="username">
    <hr>


    <label for="passwordInput">Contraseña</label>
    <input type="password" id="passwordInput" name="password">
    <hr>


    <label for="emailInput">Correo electrónico</label>
    <input type="email" id="emailInput" name="email">
    <hr>


    <label for="birthInput">Fecha de nacimiento</label>
    <input type="date" id="birthInput" name="birth">
    <hr>


    <label for="sexInput">Sexo</label>
    <select name="sex" id="sexInput">

        <option value="male">Hombre</option>
        <option value="female">Mujer</option>
        <option value="other">Otro/a</option>

    </select>

    <hr>

    <button type="submit"> Regístrate</button>



</form>